<h1>Thêm khách hàng</h1>
<% if (msg?.length) { %>
<div class="alert alert-danger"><%= msg %></div>
<%  } %>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Tên</label>
    <input type="text" name="name" placeholder="Tên..." class="form-control" />
    <span class="text-danger"><%= validate.getError(errors, 'name') %></span>
  </div>
  <div class="mb-3">
    <label for="">Email</label>
    <input type="text" name="email" placeholder="Email..." class="form-control" />
    <span class="text-danger"><%= validate.getError(errors, 'email') %></span>
  </div>
  <div class="mb-3">
    <label for="">Mật khẩu</label>
    <input type="password" name="password" placeholder="Mật khẩu..." class="form-control" />
    <span class="text-danger"><%= validate.getError(errors, 'password') %></span>
  </div>
  <div class="mb-3">
    <label for="">Trạng thái</label>
    <select name="status" class="form-select">
      <option value="0">Chưa kích hoạt</option>
      <option value="1">Kích hoạt</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="">Tỉnh/Thành phố</label>
    <select name="province_id" class="form-select">
      <option value="0">Chọn Tỉnh/Thành phố</option>
      <% provinceList.forEach(({id, name}) => { %>
      <option value="<%= id %>"><%= name %></option>
      <%}) %>
    </select>
  </div>
  <button class="btn btn-success">Lưu</button>
  <a href="/customers" class="btn btn-danger">Hủy</a>
</form>